{% extends 'Layout/base-layout.html.twig' %}

{% block page_title %} Napisz funkcję wyliczającą wartość liczby w ciągu Fibonacciego. {% endblock %}

{% block page_content %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    {% if submitted %}
        <br>
        <div>
            <strong>Wynik to: {{ result }} </strong>
        </div>
    {% endif %}

{% endblock %}
