{% extends 'Layout/base-layout.html.twig' %}

{% block page_title %} Na wejściu dostajemy ciąg znaków. Zwróć znak, który powtórzy się pierwszy raz, null jeżeli brak powtórzeń. {% endblock %}

{% block page_content %}
    <div id="task2">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>
    {% if submitted %}
        <div>
            <strong>Wynik to:  {{ result }} </strong>
        </div>
    {% endif %}
{% endblock %}
