{% extends 'Layout/base-layout.html.twig' %}

{% block page_title %} Napisz symulację gry kółko i krzyżyk. {% endblock %}

{% block page_content %}
    <h1>Kółko i krzyżyk</h1>
    {% if winner %}
        <p>Wygrywa: {{ winner }}</p>
    {% else %}
        <p>Gracz: {{ currentPlayer }}</p>
    {% endif %}

    <table class="{{ winner is not null ? 'disabled' : '' }}">
        {% for row in 0..2 %}
            <tr>
                {% for col in 0..2 %}
                    <td class="{{ winningSquares is not null and [row, col] in winningSquares ? 'winner' : '' }}">
                        {% if board[row][col] == '' %}
                            <form method="post">
                                <input type="hidden" name="row" value="{{ row }}">
                                <input type="hidden" name="col" value="{{ col }}">
                                <button type="submit"></button>
                            </form>
                        {% else %}
                            {{ board[row][col] }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('resetGame') }}">Zagraj ponownie</a>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        td {
            width: 60px;
            height: 60px;
            text-align: center;
            font-size: 24px;
            border: 1px solid #000;
        }

        form {
            display: inline;
        }

        button {
            width: 100%;
            height: 100%;
            font-size: 24px;
        }

        .disabled {
            pointer-events: none;
            opacity: 0.4;
        }

        .winner {
            background-color: red;
        }
    </style>
{% endblock %}