{% extends 'Layout/base-layout.html.twig' %}

{% block page_title %} Napisz wyszukiwarkę projektów na Github, wyszukiwanie powinno rozpocząć się po wpisaniu co najmniej 3 znaków. {% endblock %}

{% block page_content %}
    <label>Wyszukaj projekty GitHub</label>
    <input type="text" id="search-repo-input">
    <div id="search-repo-results"></div>
{% endblock %}

{% block tail_script %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-repo-input').on('keyup', function () {
                var text = this.value;
                if (text.length >= 3) {
                    var resultsContainer = document.getElementById('search-repo-results');
                    resultsContainer.innerHTML = '';
                    var url = '{{ path('repoAutocomplete', {repoName: '__repoName__'})|raw }}';
                    $.getJSON(url.replace('__repoName__', text), function (data) {
                        data.forEach(item => {
                            const resultItem = document.createElement('div');
                            resultItem.classList.add('result-item');

                            resultItem.innerHTML = `
                                <h2><a href="${item.html_url}" target="_blank">${item.name}</a></h2>
                                <p>${item.full_name}</p>
                                <p><strong>Stars:</strong> ${item.stargazers_count}</p>
                            `;

                            resultsContainer.appendChild(resultItem);
                        });
                    });
                }
            });
        });
    </script>
{% endblock %}