{% extends 'Layout/base-layout.html.twig' %}

{% block page_title %} Na wejściu dostajemy tablicę słów oraz tekst. Stwórz funkcję, która znajdzie pierwsze wystąpienia tych wyrazów i sprawdzi, czy są one identycznej kolejności jak dane wejściowe. {% endblock %}

{% block page_content %}
    <div id="task1">
        {{ form_start(form) }}
        <div id="words-fields">
            {% for wordField in form.words %}
                {{ form_row(wordField) }}
            {% endfor %}
        </div>
        <button type="button" id="add-word">Dodaj słowo</button>
        {{ form_end(form) }}
    </div>
    {% if submitted %}
        <div>
            <strong> {{ result }} </strong>
        </div>
    {% endif %}
{% endblock %}

{% block tail_script %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            const addButton = document.getElementById('add-word');
            const wordsFields = document.getElementById('words-fields');

            addButton.addEventListener('click', function () {
                const newWordField = document.createElement('input');
                newWordField.type = 'text';
                newWordField.name = 'task_one[words][]';
                newWordField.classList.add('form-control');

                wordsFields.appendChild(newWordField);
            });
        });
    </script>
{% endblock %}