{% extends 'Layout/base-layout.html.twig' %}

{% block page_title %} Napisz aplikacje która zwróci sekwencję klawiszy koniecznych do wydrukowania wyrażenia “PROGRAMOWANIE JEST FAJNE”. Posługujemy się starą klawiaturą telefonów komórkowych w których aby otrzymać literę należy wcisnąć określoną ilość razy klawisz do którego jest przypisana ta litera np “A” - 22 , “F” - 3333 ( zakładamy ze posługujemy się tylko znakami alfa numerycznymi, a symbol spacji otrzymamy po 2 krotnym, kliknięciu “#”). {% endblock %}

{% block page_content %}
    <div id="task6">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>
    {% if submitted %}
        <div>
            <strong>Wynik to:  {{ result }} </strong>
        </div>
    {% endif %}
{% endblock %}
